html {
    height: 100vh;
    width: 100%;
}


body {
    background: url("poster.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*BACKGROUND OPACITY/OVERLAY*/
.mycontainer {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background: rgba(79, 79, 79, 1);
  
}

.mycontainer:before { 
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.8;
    background-image: url("poster.jpg");
    background-repeat: no-repeat;
    background-position: center;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
}


/*MAIN NAV COLOR*/
.navbar-dark {
    background-color: hsla(322, 51%, 18%, .8);
}

/*NAVBAR OPACITY DARKENS WHEN SCROLLED*/
.navbar.scrolled {
    background-color: hsla(322, 51%, 18%, 1);
    transition: background 400ms;
}


/*NAV LINKS*/
.navbar-dark .navbar-nav .nav-link{
    color: rgb(255, 244, 219);
    font-family: 'BenchNine', sans-serif;
    font-size: 1.25rem;
    text-shadow: 1px 2px 2px black;
    letter-spacing: .25rem;
}


.navbar-dark .navbar-nav .nav-link:hover {
    letter-spacing: .35rem;
    color: rgb(255,186,0);
    transition: color .6s, letter-spacing .6s;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: rgb(255, 244, 219);
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-shadow: 1px 2px 2px black;
}

.dropdown-item:hover {
    color: rgb(255,186,0);
    transition: color .3s;
    background-color: transparent;
}

.navbar-dark .navbar-nav .nav-link:visited {
    color: rgb(255, 244, 219);
}

.navbar-dark .navbar-nav .nav-link:visited:hover {
    color: rgb(255,186,0);
}

.dropdown-menu {
    background-color: hsla(322, 51%, 18%, .8);
}


/*APPLIES HOVER PROPERTIES TO CURRENT PAGE*/
#current {
    color: rgb(255,186,0);
    transition: color .6s, letter-spacing .6s;
}





/*MAIN CONTENT*/

/*WHOLE CARD HOLDING INFO*/
.contentCard {
    background-color: rgba(255, 244, 219, .8);
    position: relative;
    z-index: 4;
    margin-top: 100px;
    padding: 5%;
    margin-bottom: 30px;
    border: 10px solid hsla(322, 51%, 18%, 1);
}

.row {
    margin: 0 auto;
}


/*ALL P TEXT IN MAIN CONTENT AND FOOTER*/
p {
    font-family: 'Noto Sans JP', sans-serif;
}


/*HEADINGS FOR METHODS OF CONTACT*/
h3 {
    font-family: 'BenchNine', sans-serif;
    font-weight: 700;
    letter-spacing: .15rem;
    font-size: 1.5rem;
    color: hsla(322, 51%, 18%, 1);
    text-transform: uppercase;

}

hr {
    background-color: hsla(322, 51%, 18%, .3);
}


/*WE CAN'T WAIT TO SEE YOU*/
.seeYou {
    font-family: 'Dancing Script', cursive; 
    font-size: 3rem;
    color: hsla(322, 51%, 18%, 1);
    text-align: center;
    margin-top: 5%;
}


/*FORM*/
form {
    font-family: 'Noto Sans JP', sans-serif;
}

.btn-primary {
    background-color: hsla(322, 51%, 18%, 1);
    border-color: hsla(322, 51%, 18%, 1);
    font-family: 'Noto Sans JP', sans-serif;
}

.btn-primary:hover {
  background-color: rgb(219, 160, 0);
  border-color: rgb(219, 160, 0);
  transition: background-color .6s, border-color .6s;
}



/*FOOTER REQUIREMENTS & FOOTER STYLE*/
#page-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;  
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6rem;   
  background-color: hsla(322, 51%, 18%, 1);
  color: rgba(255, 244, 219, 1);
  padding-left: 10px;
  padding-top: 10px;
  font-family: 'Noto Sans JP', sans-serif;
  margin-top: 200px; 
  font-size: .75rem;   
  text-align: center;  
}

#footer a {
    color: rgba(255, 244, 219, 1);
    font-family: 'Noto Sans JP', sans-serif;
}


#content-wrap {
  padding-bottom: 6rem;
    /* Footer height */
}

@media only screen and (max-width: 767px) {
   .seeYou {
        font-size: 2.5rem;
   }


/*TAKES AWAY PADDING SO WRITING DOESN'T OVERFLOW OUTSIDE OF CONTAINER*/
   .contentCard {
    padding-left: 0;
    padding-right: 0;
   }


/*TALLER FOOTER HEIGHT SINCE IT BECOMES ONE COLUMN*/
   #footer {
    height: 22rem;
    font-size: .75rem;
   }

   #content-wrap {
  padding-bottom: 22rem;
    /* Footer height */
    }

}


/*EXTENDS FOOTER HEIGHT WHEN WORD 'RESERVED' GETS PUSHED TO NEXT ROW*/
@media only screen and (min-width: 768px) and (max-width: 918px) {
    #footer {
    height: 7rem;
    font-size: .75rem;
   }

   #content-wrap {
     padding-bottom: 7rem;
    /* Footer height */
    }

}












